<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div ng-controller="MyCtrl">
    {{name | lowercase}}
    {{}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Seniority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr ng-repeat="stu in students"> 
                    <td>
                        {{stu.name | customName}}
                    </td>
                    <td>
                        {{stu.age}}
                    </td>
                    <td>
                            {{stu.seniority}}
                        </td>
                    <td>
                        <button ng-click="onClick(stu)">View Details</button>
                        <!--<button ng-click="onBtnClick($event)">button 1</button>-->
                    </td>
                </tr>
        </tbody>
    </table>
    <div ng-show="SelectedStudent"> 
        <h2>Student Details</h2>
        <p>Name : {{SelectedStudent.name}}</p>
        <p>Age : {{SelectedStudent.age}}</p>
    </div>
</div>

   <!-- <div ng-controller="MyCtrl">
        {{myVal}}
        <input type="text" ng-model="myVal"/>
        <button ng-click="onClick()">Click Here</button>
    
        <div ng-if="myVal.length ===0">
            Empty
        </div>
        <div ng-show="myVal.length ===0">
            Show
        </div>
        <div ng-hide="myVal.length ===0">
                hide
        </div>
    </div>-->
    <script src="angular.js" ></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="app.filter.js"></script>
</body>
</html>