<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div ng-controller="MyCtrl">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr ng-repeat="stu in students"> 
                    <td>
                        {{stu.name}}
                    </td>
                    <td>
                        {{stu.age}}
                    </td>
                    <td></td>
                </tr>
        </tbody>
    </table>
</div>

   <!-- <div ng-controller="MyCtrl">
        {{myVal}}
        <input type="text" ng-model="myVal"/>
        <button ng-click="onClick()">Click Here</button>
    
        <div ng-if="myVal.length ===0">
            Empty
        </div>
        <div ng-show="myVal.length ===0">
            Show
        </div>
        <div ng-hide="myVal.length ===0">
                hide
        </div>
    </div>-->
    <script src="angular.js" ></script>
    <script src="app.js"></script>
</body>
</html>